@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans&display=swap');

body {
    background: #212121;
    color: #FFF;
    font-family: Work Sans;
}

h1 {
    text-shadow: 2px 2px #000;
}

.container {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
}

.question-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
}

.answer-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
}

.grid-outer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin-bottom: 55px;
}

.single-box {
    cursor: pointer;
    background-color: #01309e;
    color: #e7aa5c;
    height: 40px;
    border: 2px solid black;
    font-family: Bebas Neue;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px #000;
    padding: 64px;
    transition: .3s;
}

.single-box:hover {
    background-color: #01309ed9;
    color: #FFF;
    border: 2px solid yellow;
}

label {
    font-size: 2em;
}

input {
    background: transparent;
    font-size: 28px;
    font-family: Work Sans;
    color: #FFF;
    border: none;
    margin-bottom: 30px;
}

input::placeholder {
    color: #FFF;
    opacity: .5;
    font-family: Work Sans;
}

input:focus {
    outline: none;
    background: transparent;
}

input:-webkit-autofill {
    background: transparent;
}

input:-webkit-autofill:active {
    background: transparent;
}

.button {
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    position: relative;
    font-family: Work Sans;
    background-color: #01309e;
    color: #FFF;
    border-radius: 4px;
    padding: 6px 35px;
    transition: opacity 1s;
    border-style: none;
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    background-color: #e7aa5c;
    color: #FFF;
}

a {
    color: #e7aa5c;
    transition: .3s;
    text-decoration: none;
}

a:hover {
    color: #FFF;
}

.score {
    color: rgb(49, 199, 109);
    font-weight: bold;
}

.incorrect-negative {
    color: rgb(199 49 49);
}

.clear {
    cursor: default;
    background-color: #01309e;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    padding: 64px;
    transition: .3s;
}

.clear:hover {
    background-color: #01309e;
    border: 2px solid black
}

.footer {
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}