@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #FFF;
    color: #000;
}

.grid-outer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    max-width: 1400px;
}

.single-box {
    cursor: pointer;
    background-color: #01309e;
    color: #e7aa5c;
    height: 40px;
    border: 2px solid black;
    font-family: Bebas Neue;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 64px;
    transition: .3s;
}

.single-box:hover {
    background-color: #01309ed9;
    color: #FFF;
    border: 2px solid yellow;
}